<app-messages [messages]="messages"></app-messages>
<app-loading *ngIf="loading; else content"></app-loading>

<ng-template #content>
  <div class="card">

    <div class="card-content">

      <div class="columns">
        <div class="column is-8 is-offset-2">
          <h2 class="subtitle is-size-4 has-text-centered">Tutor Registration</h2>

          <div class="columns">
            <div class="column">
              <div class="field">
                <p class="label has-text-weight-semibold">Forename</p>
                <input [(ngModel)]="tutor.forename"
                       class="input"
                       type="text">
              </div>
            </div>
            <div class="column">
              <div class="field">
                <p class="label has-text-weight-semibold">Surname</p>
                <input [(ngModel)]="tutor.surname"
                       class="input"
                       type="text">
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="field">
                <p class="label has-text-weight-semibold">Phone</p>
                <input [(ngModel)]="tutor.phone"
                       type="tel"
                       class="input">
              </div>
            </div>
            <div class="column">
              <div class="field">
                <p class="label has-text-weight-semibold">Gender</p>
                <input [(ngModel)]="tutor.gender"
                       type="text"
                       class="input">
              </div>
            </div>
          </div>

          <div class="field">
            <p class="label has-text-weight-semibold">Email</p>
            <input [(ngModel)]="tutor.user.email"
                   type="email"
                   class="input">
          </div>

          <div class="field">
            <p class="label has-text-weight-semibold">Password</p>
            <input [(ngModel)]="tutor.user.password"
                   type="password"
                   class="input">
          </div>

          <p class="label has-text-weight-semibold">Skills</p>
          <div class="field is-grouped is-grouped-multiline">

            <div class="control"
                 *ngFor="let skill of tutor.skills">

              <div class="tags has-addons">
                <span class="tag is-link">{{skill.name}}</span>
                <a (click)="removeSkill(skill)"
                   class="tag">
                  <span>
                    <i class="fas fa-minus"></i>
                  </span>
                </a>
              </div>

            </div>

          </div>

          <p class="label has-text-weight-semibold">Available Skills</p>
          <p *ngIf="availableSkills.length === 0">No skills available</p>
          <div class="field is-grouped is-grouped-multiline">

            <div class="control"
                 *ngFor="let skill of availableSkills">

              <div class="tags has-addons">
                <span class="tag is-warning">{{skill.name}}</span>
                <a (click)="addSkill(skill)"
                   class="tag">
                  <span>
                    <i class="fas fa-plus"></i>
                  </span>
                </a>
              </div>

            </div>

          </div>
        </div>

      </div>

      <!-- Save/Discard buttons -->
      <div class="columns">
        <div class="column is-6-widescreen is-offset-3-widescreen">
          <a (click)="insertTutor()"
             class="button is-success is-rounded is-fullwidth">
            <span class="icon">
              <i class="fas fa-check"></i>
            </span>
            <span>Register Tutor</span>
          </a>
        </div>
      </div>

    </div>

  </div>
</ng-template>
