<section class="section">
  <app-loading *ngIf="loading; else content"></app-loading>
  <ng-template #content>
    <div class="container">
      <div class="columns is-multiline is-centered">

        <div class="column is-4" *ngFor="let loc of locations">
          <div class="box">

            <p class="subtitle has-text-centered">
              {{loc.name}}
            </p>

            <div class="columns is-mobile">
              <div class="column"></div>
              <p class="label column is-narrow">
                <span class="icon">
                  <i class="fas fa-building"></i>
                </span>
              </p>
              <div class="column is-8">
                <p *ngFor="let line of loc.address">
                  {{line}}
                </p>
              </div>
            </div>

            <div class="columns is-mobile">
              <div class="column"></div>
              <p class="label column is-narrow">
                <span class="icon">
                  <i class="fas fa-envelope"></i>
                </span>
              </p>
              <div class="column is-8">
                <a href="mailto:{{loc.email}}" class="link">{{loc.email}}</a>
              </div>
            </div>

            <div class="columns is-mobile">
              <div class="column"></div>
              <p class="label column is-narrow">
                <span class="icon">
                  <i class="fas fa-phone"></i>
                </span>
              </p>
              <div class="column is-8">
                <a href="tel:{{loc.phone}}" class="link">{{loc.phone}}</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </ng-template>
</section>
