<app-loading *ngIf="loading; else content"></app-loading>

<!-- Main content which is shown when data isn't loading -->
<ng-template #content>

  <div class="box">
    <h1 class="subtitle is-size-4 has-text-centered">Locations</h1>

    <!-- Search Bar -->
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <input #filter
               type="text"
               (keyup)="filterLocations(filter.value)"
               class="input has-text-centered"
               placeholder="Search Locations">
      </div>
    </div>

    <!-- Table -->
    <table class="table is-striped is-hoverable is-fullwidth">
      <tr>
        <th class="has-text-weight-semibold">Name</th>
        <th class="has-text-weight-semibold">Address</th>
        <th class="has-text-weight-semibold">Email</th>
        <th class="has-text-weight-semibold">Phone</th>
        <th class="has-text-weight-semibold"></th>
      </tr>
      <ng-container *ngFor="let loc of filteredLocations">
        <tr>
          <td>{{loc.name}}</td>
          <td>
            <p *ngFor="let line of loc.address">{{line}}</p>
          </td>
          <td>
            <a href="mailto:{{loc.email}}"
               class="link">{{loc.email}}</a>
          </td>
          <td>{{loc.phone}}</td>
          <td class="has-text-centered">
            <a routerLink="/admin/locations/{{loc._id}}"
               class="button is-link is-rounded">
              <span>More Details</span>
            </a>
          </td>
        </tr>
      </ng-container>

      <tr *ngIf="locations.length === 0">
        <td colspan="5">
          <p class="is-4 has-text-centered">No locations are available</p>
        </td>
      </tr>

    </table>
  </div>

</ng-template>
