<div class="container">
  <div class="section has-text-centered">
    <div class="column is-6-tablet is-offset-3-tablet is-4-desktop is-offset-4-desktop">
      <h1 class="title">Login</h1>
      <div class="field">
        <label class="label">Email Address</label>
        <div class="control">
          <input type="email" class="input has-text-centered" required>
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input type="password" class="input has-text-centered" required>
        </div>
      </div>
      <div class="columns">
        <a class="column has-text-info">Forgotten your password?</a>
        <a class="column has-text-info">Need an account?</a>
      </div>

      <div class="columns">
        <div class="column is-8 is-offset-2">
          <button class="button is-info is-fullwidth">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
