<div class="section has-text-centered">
  <div class="column is-half is-offset-one-quarter">
    <div class="column is-half-desktop is-offset-one-quarter-desktop">
      <h1 class="title">Login</h1>
      <div class="field">
        <label class="label">Email Address</label>
        <div class="control">
          <input type="email" class="input" placeholder="abc@example.com" required>
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input type="password" class="input" required>
        </div>
      </div>
      <div class="columns">
        <a class="column has-text-info">Forgotten your password?</a>
        <a class="column has-text-info">Already have an account?</a>
      </div>

      <button class="button is-info">Login</button>
    </div>
  </div>
</div>
