<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <app-loading *ngIf="loading; else content"></app-loading>
        <ng-template #content>
          <div class="box">

            <h1 class="subtitle is-size-3">Profile</h1>

            <div class="columns">

              <div class="column">

                <div class="tabs">
                  <ul>
                    <li [class.is-active]="activeView === 'upcoming'">
                      <a (click)="toggleActiveView()">Upcoming</a>
                    </li>
                    <li [class.is-active]="activeView === 'history'">
                      <a (click)="toggleActiveView()">History</a>
                    </li>
                  </ul>
                </div>

                <app-messages [messages]="messages"></app-messages>

                <div *ngIf="filteredClasses.length > 0; else noClasses">
                  <div class="box"
                       *ngFor="let c of filteredClasses">
                    <div class="columns">
                      <div class="column">
                        <p class="has-text-weight-semibold">
                          <span class="icon"></span>
                          <span>{{c.classType.name}}</span>
                        </p>
                        <p>
                          <span class="icon">
                            <i class="far fa-calendar-alt"></i>
                          </span>
                          <span>{{c.date}}</span>
                        </p>
                        <p>
                          <span class="icon">
                            <i class="far fa-clock"></i>
                          </span>
                          <span>{{c.startTime}}</span>
                        </p>
                      </div>
                      <div class="column is-narrow center-vertical">
                        <div class="buttons">
                          <a class="button is-link is-outlined"
                             routerLink="/classes/{{c._id}}">More Info</a>
                          <a class="button is-danger is-outlined"
                             (click)="cancelBookings([c])">Cancel</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ng-template #noClasses>
                  <p class="has-text-centered">No classes available</p>
                </ng-template>

              </div>

              <div class="is-divider-vertical is-hidden-mobile"></div>

              <div class="column is-narrow">
                <div class="box">
                  <p class="subtitle">
                    <span class="icon">
                      <i class="fas fa-user"></i>
                    </span>
                    {{customer.forename}} {{customer.surname}}
                  </p>
                  <p class="control has-icons-left">
                    <span class="icon is-left">
                      <i class="fas fa-venus-mars"></i>
                    </span>
                    <input class="input"
                           [class.is-static]="!isEditingProfile"
                           [(ngModel)]="customer.gender"
                           type="text"
                           [readonly]="!isEditingProfile">
                  </p>
                  <p class="control has-icons-left">
                    <span class="icon is-left">
                      <i class="fas fa-phone"></i>
                    </span>
                    <input class="input"
                           [class.is-static]="!isEditingProfile"
                           [(ngModel)]="customer.phone"
                           type="tel"
                           [readonly]="!isEditingProfile">
                  </p>
                  <p class="control has-icons-left">
                    <span class="icon is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <input class="input"
                           [class.is-static]="!isEditingProfile"
                           [(ngModel)]="customer.user.email"
                           type="email"
                           [readonly]="!isEditingProfile">
                  </p>
                  <p class="control has-icons-left">
                    <span class="icon is-left">
                      <i class="fas fa-key"></i>
                    </span>
                    <input class="input"
                           [class.is-static]="!isEditingProfile"
                           [(ngModel)]="customer.user.password"
                           type="password"
                           [readonly]="!isEditingProfile">
                  </p>
                  <br>
                  <div *ngIf="isEditingProfile === false">
                    <a class="button is-link is-fullwidth is-outlined"
                       (click)="isEditingProfile = true">Edit</a>
                  </div>
                  <div *ngIf="isEditingProfile === true">
                    <a class="button is-danger is-fullwidth"
                       (click)="discardEdit()">
                      <span class="icon">
                        <i class="fas fa-times"></i>
                      </span>
                      <span>Discard</span>
                    </a>
                    <br>
                    <a class="button is-success is-fullwidth"
                       (click)="saveChanges()">
                      <span class="icon">
                        <i class="fas fa-save"></i>
                      </span>
                      <span>Save</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
