<app-loading *ngIf="loading; else content"></app-loading>
<app-messages [messages]="messages"></app-messages>

<ng-template #content>
  <h1 class="subtitle is-3 has-text-centered">All Classes</h1>
</ng-template>

<div *ngIf="calendarOptions">
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <ng-fullcalendar #ucCalendar
                       [options]="calendarOptions"
                       (eventClick)="eventClick($event.detail)"
      ></ng-fullcalendar>
    </div>
  </div>
</div>
