<app-loading *ngIf="loading; else content"></app-loading>
<app-messages [messages]="messages"></app-messages>

<ng-template #content>
  <h1 class="subtitle is-size-4 has-text-centered">All Classes</h1>
  <p class="has-text-centered has-text-info"
     style="margin-top: -1em; margin-bottom: 1em;">Select a class to view more details, or select an empty time slot to add a new class</p>
  <div *ngIf="calendarOptions">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <ng-fullcalendar #ucCalendar
                         [options]="calendarOptions"
                         (eventClick)="eventClick($event.detail)"
                         (select)="selectTime($event)"></ng-fullcalendar>
      </div>
    </div>
  </div>
</ng-template>
