<app-loading *ngIf="loading; else content"></app-loading>
<app-messages [messages]="messages"></app-messages>

<ng-template #content>
  <h1 class="subtitle is-3 has-text-centered">All Classes</h1>
  <!--<table class="table is-striped is-hoverable is-fullwidth">-->
    <!--<tr>-->
      <!--<th>Date</th>-->
      <!--<th>Tutor</th>-->
      <!--<th>Class</th>-->
      <!--<th>Location</th>-->
      <!--<th class="has-text-centered"><span class="icon"><span class="fas fa-users"></span></span></th>-->
      <!--<th></th>-->
    <!--</tr>-->
    <!--<ng-container *ngFor="let _class of classes;">-->
      <!--<tr class="is-capitalized">-->
        <!--<td><p>{{_class.date}}</p></td>-->
        <!--<td><p>{{_class.tutor.forename}} {{_class.tutor.surname}}</p></td>-->
        <!--<td><p>{{_class.type.name}}</p></td>-->
        <!--<td><p>{{_class.location.name}}</p></td>-->
        <!--<td class="has-text-centered">-->
          <!--<p>{{_class.attendees.length}} / {{_class.classSize}}</p>-->
        <!--</td>-->
        <!--<td class="has-text-centered">-->
          <!--<a class="button is-rounded is-link has-text-centered" routerLink="/admin/classes/{{_class._id}}">-->
            <!--More Details-->
          <!--</a>-->
        <!--</td>-->
      <!--</tr>-->
    <!--</ng-container>-->
  <!--</table>-->


</ng-template>

<div *ngIf="calendarOptions">
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <ng-fullcalendar #ucCalendar
                       [options]="calendarOptions"
                       (eventClick)="eventClick($event.detail)"
      ></ng-fullcalendar>
    </div>
  </div>
</div>
