<!-- Notifications -->
<div *ngIf="messages.length > 0">
  <div *ngFor="let m of messages" class="notification" [ngClass]="{
      'is-danger': m.type === 'error',
      'is-success': m.type === 'success',
      'is-warning': m.type === 'warning'}">
    <button class="delete" aria-label="delete" (click)="messages.splice(messages.indexOf(m),1)"></button>
    {{m.message}}
  </div>
</div>

<!-- Loading spinner -->
<div *ngIf="loading; else content">
  <div class="section has-text-centered">
    <h1 class="title has-text-info">Loading...</h1>
    <span class="icon">
      <i class="fa fa-spinner fa-spin fa-3x has-text-info"></i>
    </span>
  </div>
</div>

<ng-template #content>
  <div class="card">
    <div class="card-body">
      <div class="columns">
        <div class="column is-6 is-offset-3">

          <h1 class="subtitle is-3 has-text-centered">Edit Skill</h1>

          <div class="field">
            <p class="label">Name</p>
            <input [(ngModel)]="skill.name" class="input">
          </div>

          <div class="field">
            <p class="label">Description</p>
            <textarea [(ngModel)]="skill.description" class="textarea"></textarea>
          </div>


          <!-- Save/Discard buttons -->
          <div class="columns">
            <div class="column is-6-widescreen">
              <a (click)="saveSkill()" class="button is-success is-rounded is-fullwidth">
              <span class="icon">
                <i class="fas fa-check"></i>
              </span>
                <span>Save Changes</span>
              </a>
            </div>
            <div class="column is-6-widescreen">
              <a (click)="discardEdit()" class="button is-danger is-rounded is-fullwidth">
                <span>Discard Changes</span>
                <span class="icon">
                <i class="fas fa-times"></i>
              </span>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</ng-template>

