<app-messages [messages]="messages"></app-messages>

<app-loading *ngIf="loading; else content"></app-loading>

<ng-template #content>
  <div class="card">
    <div class="card-body">
      <div class="columns is-mobile">
        <div class="column is-6 is-offset-3">

          <h1 class="subtitle is-size-4 has-text-centered">Edit Skill</h1>

          <div class="field">
            <p class="label">Name</p>
            <input [(ngModel)]="skill.name"
                   placeholder="Skill name"
                   class="input">
          </div>

          <div class="field">
            <p class="label">Description</p>
            <textarea [(ngModel)]="skill.description"
                      placeholder="Skill description"
                      class="textarea"></textarea>
          </div>

        </div>
      </div>
      <div class="buttons is-centered">
        <span (click)="deleteSkill()"
              class="button is-danger">
          <span class="icon">
            <i class="fas fa-trash"></i>
          </span>
          <span>Delete Skill</span>
        </span>
        <span (click)="discardEdit()"
              class="button is-warning">
          <span class="icon">
            <i class="fas fa-times"></i>
          </span>
          <span>Discard Changes</span>
        </span>
        <span (click)="saveSkill()"
              class="button is-success">
          <span class="icon">
            <i class="fas fa-save"></i>
          </span>
          <span>Save Changes</span>
        </span>
      </div>
    </div>
  </div>
</ng-template>
